.nav{
  background-color: #009FE3;
  overflow: hidden;
}

.nav a{
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
  text-decoration: none;
}

.nav a:hover {
  background-color: yellow;
  color: black;
}
