
.header {
  overflow: hidden;
  background-color: #009FE3;
  padding: 20px 10px;
  font-family: Arial;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  padding: 10px 30px;
}

.header a.title {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: center;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
  .header-right {
    float: none;
  }
}

.center h1{
  text-align: center;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-image: url("../images/b3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.lt{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  background-color: white;
  font-family: Arial;
  padding-top: 1%;
  padding-bottom: 1%;

}

.lt p{
  margin-left: 5%;
  margin-right: 5%;

}

.lt h1{
  margin-left: 5%;
  margin-right: 5%;
  }


footer {
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
   background-color:#009FE3;
   color: white;
   text-align: center;
}

.log{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  background-color: white;
  font-family: Arial;
  padding-top: 1%;
  padding-bottom: 1%;

}


.log p{
  margin-left: 5%;
  margin-right: 5%;
}

.log h1{
  margin-left: 5%;
  margin-right: 5%;
  }

/*Buttons*/
:target{
  border: 2px solid #D4D4D4;
  background-color: #e5eecc;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  font-family: Arial;
  padding-top: 1%;
  padding-bottom: 1%;
}
.btn{
  border-radius: 20px:
  border: 1px solid ;
  background:#003171 ;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Arial";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color:white;
}
