<form  >
  <table class="table table-striped table-condensed" >
    <thead>
      <th>Nome</th>
      <th>Porção</th>
      <th>Preço €</th>
      <th>Quantidade</th>
      <th >Adicionar ao Carrinho</th>
    </thead>
    <tbody>
      <tr *ngFor="let linha of compraLinha">
        <td >{{linha.nomeProduto}}</td>

        <td>
          <table>
            <td>{{linha.porcao}}</td>
            <tbody *ngIf="linha.quantidadePack">
              <td>{{linha.porcaoPack}}</td>
            </tbody>
          </table>
        </td>

        <td>
          <table>
            <td>{{linha.preco | currency:"€"}}
            </td>
            <tbody *ngIf="linha.precoPack != 0">
              <td>{{linha.precoPack | currency:"€"}}</td>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <td>
                <input class="form-control" [(ngModel)]="linha.quantidade" [ngModelOptions]="{standalone: true}" style="width:50%;" value="{{linha.quantidade}}" min="{{linha.quantidadeMinima}}" id="ex1" type="number">
         
              </td>
            <tbody *ngIf="linha.precoPack !=0">
              <td> <input class="form-control" [(ngModel)]="linha.quantidadePack" [ngModelOptions]="{standalone: true}" style="width:50%;" value="{{linha.quantidadePack}}" min="{{linha.quantidadeMinima}}" id="ex1" type="number"> </td>
            </tbody>             
          </table>        
        
        </td>
            <td > <button type="button" (click)="adicionar(linha)" class="btn btn-success">Adicionar</button> </td>         
      </tr>
    </tbody>
  </table>
</form>