<p class="text-center">
  O que é o Take It?
</p>
<p>
  O Take it é uma empresa que, mediante encomenda, confecciona comida tradicional e caseira e a entrega em casa dos seus clientes.
  A comida é sempre feita com ingredientes frescos e de boa qualidadede e preparada a partir de receitas antigas, às quais, aqui e ali, criteriosamente acrescentamos uns pequenos toques modernos e gourmets. 
  As entregas são sempre feitas à hora marcada e acompanhadas de explicações simples e práticas sobre o melhor modo de aquecer e de servir cada prato. Qualidade, pontualidade e simpatia: diz quem já experimentou que são estas as características que melhor nos definem.
  Confirme-o por si mesmo. 
</p>


