<div class="container">
    <br>
     
    <div class="center">Entre na sua conta!</div> 
    <br>
    <br>
    <form (ngSubmit)="login()"  #form="ngForm">
        <div class="form group">
            <label for="mail">E-mail</label>
            <input #mail="ngModel" type="text" name="mail" class="form-control" [(ngModel)]="cliente.mail" required mail>
            <div *ngIf="mail.errors && (mail.dirty || mail.touched)">
                <p *ngIf="mail.errors.required"> É obrigatório preencher este campo!</p>
                <p *ngIf="mail.errors.mail">É necessário um email válido!</p>

            </div>
        </div>

        <br>

        <div class="form group">
            <label for="password">Password</label>
            <input #password="ngModel" type="password" name="password" class="form-control" [(ngModel)]="cliente.password" required minlength="6">

            <div *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required"> É obrigatório preencher este campo!</p>
                <p *ngIf="password.errors.minlength"> A password tem que ter no minimo 6 caracteres!</p>
            </div>
        </div>

        <br>
        <input [disabled]="form.invalid" type="submit" value="Login" class="btn btn-success">
        <button  class="btn btn-success" routerLink="/registar" >Não tem conta? Registe-se!</button>
    </form>

</div>


