<div class="container">
    <div> Dados Pessoais:</div>
    <br>
    <form (ngSubmit)="registarCliente(cliente,confirmarPassword.value)" #form="ngForm">
       
        <div class="form group">
            <label for="primeiro_nome">Primeiro Nome:</label>
            <input #primeiro="ngModel" type="text" name="primeiro_nome" class="form-control" [(ngModel)]="cliente.primeiro_nome" required>
            <div *ngIf="primeiro.errors && (primeiro.dirty || primeiro.touched)">
                <p *ngIf="primeiro.errors.required"> É obrigatório preencher este campo!</p>
            </div>
        </div>

        <div class="form group">
            <label for="apelido">Apelido:</label>
            <input #apelido="ngModel" type="text" name="apelido" class="form-control" [(ngModel)]="cliente.apelido" required >
            <div *ngIf="apelido.errors && (apelido.dirty || apelido.touched)">
                <p *ngIf="apelido.errors.required"> É obrigatório preencher este campo!</p>
                
            </div>
        </div>

        <div class="form group">
            <label for="contacto">Contacto (tlm): </label>
            <input #contacto="ngModel" type="text" name="contacto" class="form-control" [(ngModel)]="cliente.contacto" required minlength="9" maxlength="9" > 
            <div *ngIf="contacto.errors && (contacto.dirty || contacto.touched)">
                <p *ngIf="contacto.errors.required"> É obrigatório preencher este campo!</p>
                <p *ngIf="contacto.errors.minlength"> O contacto tem que ter obrigatóriamente 9 digitos!</p>
            </div>
        </div>
        
        <div class="form group">
            <label for="mail">E-mail</label>
            <input #mail="ngModel" type="text" name="mail" class="form-control" [(ngModel)]="cliente.mail" required mail>
            <div *ngIf="mail.errors && (mail.dirty || mail.touched)">
                <p *ngIf="mail.errors.required"> É obrigatório preencher este campo!</p>
                <p *ngIf="mail.errors.mail">É necessário um email válido!</p>

            </div>
        </div>

        <div class="form group">
            <label for="password">Password</label>
            <input #password="ngModel" type="password" name="password" class="form-control" [(ngModel)]="cliente.password" required minlength="6">

            <div *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required"> É obrigatório preencher este campo!</p>
                <p *ngIf="password.errors.minlength"> A password tem que ter no minimo 6 caracteres!</p>
            </div>
        </div>

        <div class="form group">
            <label for="password">Confirmar a password</label>
            <input type="password" name="confirm-password"  pattern="{{cliente.password}}" class="form-control" [(ngModel)]="confirmar_password" required #confirmarPassword="ngModel">
            <div class="error-message" *ngIf="confirmarPassword.errors?.pattern">
                As passwords têm que coincidir!
            </div>
        </div>


        <br>
        <br>

        <div> Morada:</div>
        <br>
        <div class="form group">
            <label for="morada_1">Morada completa</label>
            <input type="text" name="morada_1" class="form-control" [(ngModel)]="morada.morada_1" required>
        </div>

        <div class="form group">
            <label for="morada2">Morada completa</label>
            <input type="text" name="morada2" class="form-control" [(ngModel)]="morada.morada_2">
        </div>


        <div class="form group">
            <label for="cod_postal">Código Postal</label>
            <input type="text" size="0.10" name="cod_postal" class="form-control" [(ngModel)]="morada.cod_postal" required>
        </div>


        <div class="form group">
            <label for="localidade">Localidade</label>
            <input type="text" name="localidade" class="form-control" [(ngModel)]="morada.localidade" required>
        </div>
        <input [disabled]="form.invalid" type="submit" value="Registar" class="btn btn-success">
        <div *ngIf="mostrarMensagem() != null">
            <p>{{mostrarMensagem()}}</p>
        </div>
        
    </form>
</div>