 <!-- Navigation -->
 <body> 
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" routerLink="">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Home
                <span class="sr-only">(current)</span>
              </a>

            <li class="nav-item">              
              <a *ngIf="getCookies()=='NONE'" class="nav-link" routerLink="login">Login / Registar</a>             
            </li>

            <li class="nav-item" class="nav-item">
                <a  class="nav-link" *ngIf="getCookies()!='NONE'"  routerLink="perfil">A minha conta</a>
                          
            </li>

            <li class="nav-item">
                <a  class="nav-link" *ngIf="getCookies()!='NONE'" routerLink="carrinho">Carrinho  </a>
                        
            </li>

            <li class="nav-item">
                <button  class="nav-link btn btn-link"  *ngIf="getCookies()!='NONE'" (click)="apagarCookies()" routerLink="">Terminar Sessão</button>
                     
            </li>

            
            
          </ul>
        </div>
      </div>  
    </nav>

    <!-- Page Content -->
    <div class="container "  >

      <div class="row">

        <div class="col-lg-3  ">

          <h1 class="my-4"><p> Take it</p></h1>
          <h6>  We make it, we take it</h6>
          <div class="list-group">
            <a routerLink="quem-somos-nos" class="list-group-item">Quem somos nós?</a>
            <a routerLink="ementa" class="list-group-item">Ementa</a>
            <a routerLink="contactos"class="list-group-item">Contactos</a>
          </div>

        </div>       
      
        <div class="col-lg-9">
          <br>
          <!-- Onde vai ser executado o código dos componentes -->
          <router-outlet></router-outlet>
        </div> 

      </div>
    </div>
  </body>
  <footer class="py-5 bg-dark ">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Take It 2018</p>
      </div>
 
  </footer>    