<p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748.8156310438153!2d-9.226711204111952!3d38.71221111818962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecc8479b90665%3A0xd95b2ef542bcf3f8!2sR.+Piscina+6%2C+1495-148+Alg%C3%A9s!5e1!3m2!1spt-PT!2spt!4v1465829186394" frameborder="0" style="border-style: none; border-color: inherit; border-width: 0; width: 70%; height: 318px; float: left;" id="I1" name="I1"></iframe>
		
  </p>
  
  <table align="left" class="auto-style5" style="width: 411px; height: 20%">
  <tr>
    <td class="auto-style6" style="height: 318px; width: 842px" valign="top">
    <p class="text-center"><span>Consulte a nossa ementa e faça a sua encomenda através:</span></p>
    <ul>
      <li>
      <p class="text-left"><span>telefone: 91 490 1314;</span></p>
      </li>
      <li>
      <p class="text-left"><span>e-mail: takeit.takeaway@gmail.com;</span></p>
      </li>
    </ul>
    <p class="text-center">Ou então visito-nos nas redes sociais:</p>
    <p class="text-left">
    <a href="https://www.facebook.com/takeit.takeaway?ref=tsfref=ts"><img alt="" height="84" src="/assets/logo-facebook.png" width="93"></a>
    <a href="https://www.instagram.com/takeit_takeaway/">
    <img alt="" height="91" src="/assets/instagram.jpg" width="124"></a></p>
    <p class="text-left">
    &nbsp;</p>
    </td>
  </tr>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>