.newStyle1 {
	background-color: #FFFFFF;
}
.auto-style4 {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.auto-style5 {
	border: 3px solid #D01245;
}
.auto-style6 {
	background-color: #FFFFFF;
	text-align: left;
}